.section-home-container {
    display: flex;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 200px; /* 사이드바의 너비를 설정하세요 */
    background-color: #f4f4f4; /* 원하는 배경 색상 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.sidebar button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.main-content {
    margin-left: 220px; /* 사이드바 너비 + 여백 */
    padding: 20px;
    width: calc(100% - 220px);
}
